body {
    background-color: rgb(255, 255, 255);
 }
 .menubar{
    position: relative;
    top: 0;
    width: 2000px;
    height: 140px;
 }

 .jeshile{
    position: absolute;
    height: 67px;
    width: 191px;
    left: 116px;
    top: 41px;
    border-radius: 0px;
 }

 .italiano{
    position: absolute;
    height: 100px;
    width: 193px;
    left: 1100px;
    top: 28px;
    border-radius: nullpx;
 }
 .shigjet{
   position: relative;
   left: 100px;
   top: 30px;
 }

 .text-box{
    position: absolute;
    color: #09425A;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    left: 418px;
    top: 213px;
    
 }

 .nr2{
    position: absolute;
    height: 70px;
    left: 250px;
    top: 300px;
    color: #09425A;
 }

 .nr3{
    position: absolute;
    height: 30px;
    top: 400px;
    left: 130px;
    color: #09425A;
    font-family: 'Times New Roman';
    
 }

 .nr4{
    position: relative;
    height: 120px;
    width: 200px;
    top: 260px;
    left: 200px;
    
 }

 .nr5{
    position: absolute;
    height: 130px;
    top: 510px;
    left: 300px;
    color: #09425A;
    font-family:Arial;
 }

 .nr6{
    position: absolute;
    height: 130px;
    top: 510px;
    left: 250px;
 }

 .nr8{
        position: absolute;
        top: 19px;
        left: 740px;
        width: 200px;
        color: #01161f;
 }

 .nr9{
    position: relative;
    height: 300px;
    top: 120px;
    right: 115px;
    color: #09425A;
    font-family: 'Times New Roman';
 }

   #nr10 {
   position: relative;
   width: 400px;
   height: 125px;
   background: #d0d8da;
   top: -100px;
   border-radius: 8px;
}

.nr12{
   position:relative;
   right:-22px;
   top: -230px;
   color: #09425A;

}


.nr14{
   position:relative;
   top:-226px;
   color: #09425A;
   left: 40px;
}

.nr16{
   position:relative;
   left: 230px;
   color:#09425A;
   top: -280px;
}

.numrat{
   position: relative;
   top: -322px;
   left: 320px;
}

#nr18{
      position: relative;
      width: 400px;
      height: 125px;
      background: #d0d8da;
      top: -410px;
      border-radius: 8px;
      left: 510px;
}

.nr19{
   position:relative;
}
.nr20{
   position: relative;
   color:#09425A;
   top:-540px;
   left:540px;
}

.nr21{
   position: relative;
   color: #09425A;
   top:-538px;
   left: 550px;
}
.nr22{
   position: relative;
   color: #09425A;
   top:-588px;
   left: 740px;
}
.nr23{
   position: relative;
   position: relative;
   color: #09425A;
   top:-630px;
   left: 830px;
}

.nr24{
   position: relative;
   color:#09425A;
   top:90px;
   right:908px;
}

.mundesit{
   position: relative;
   color: #09425A;
   top:-630px;
   left: 790px;
}

.mundesiii{
   position: relative; 
   top:-320px;
   left: 280px;
}
